body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
}

html {
  background-image: linear-gradient(to bottom right, rgba(255, 230, 0, 0.637), coral);
  height: 100%;
}

form {
 text-align: center;
}

p {
  font-weight: bold;
}

input {
  font-weight: bold;
  margin: 1em;
  width: 3em;
}

output {
  font-size: xx-large;
  font-weight: bolder;
}

button {
  font-weight: bold;
  margin-top: 3em;
  height: 3em;
  background-color: white;
}

footer {
  font-family: sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: xxx-large;
  color: antiquewhite;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: #333;
}